# Ambientes Virtuais
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# VS Code / IDEs
.vscode/
.idea/
